/deep/ .ui-tree {
  width: 40em;
}

.bordered {
  border: 1px solid black;
  min-height: 20em;
}

.button-cls {
  margin: 1em;
}

label {
  width: 150px;
  float: left;
  background:  no-repeat right -5px;
}

.body-container {
  background-color: #faf8f7;
}
