<div class="form-group">
    <div>
      <label class="form-label " for="rule_name">
        <span>*</span> Name
      </label>:
      <input
        id="rule_name"
        type="text"
        [(ngModel)]="rule.name"
        class="form-element"
        pTooltip="Enter Name"
        [disabled]="!editable"
        pInputText
      />
    </div>
    <div>
      <button
        *ngIf="editable"
        pButton
        type="submit"
        label="Save"
        class="ui-button-submit"
        (click)="saveRule()"
      ></button>
    </div>
</div>
